Container{
    height: 100%;
    margin: 2 4;
    background: $boost;
    color: $text;
    border: tall $panel;
    padding: 1 2;
}

Button{
    width: 1fr;
}

.texts{
    text-style:bold;
    content-align: center middle;
    margin: 2 4;
}

#button-group{
    width: 100%;
    dock: bottom;
}

#ascii{
    color: #0e6cbf;
}

#github{
    color: #d84224;
}

#title{
    color: #d4ee19;
}

#message_input {
    height: 5;
    width: 1fr;
    border: tall $panel;
    padding: 1 2;
    color: $text;
    background: $surface;
}

.input-field {
    margin-bottom: 1;
}



